body {
  background-color: #f8f8f8;
  padding: 0;
  margin: 0;
}

table {
  width: 80%;
  margin: 0 auto;
}

thead td {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: rgb(248, 248, 248);
  white-space: nowrap;
  padding: 14px 19px 13px;
  font-weight: 600;
  color: #676d77;
  font-size: 16px;
  text-align: center;
}

tbody tr td {
  background-color: white;
  box-shadow: 0 4px 4px -3px rgba(51, 51, 51, 0.5);
  font-size: 22px;
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 18px 19px;
}
